@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h4 class="display-3">Welcome You Are Signed In</h4>
    <p>Click here <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
