@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To Emmcn Orb</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center"> 
    <main class="container" Id="store">
        <h1 class="display-6">Book Store</h1>
        <!--added the book link with the image so when one click the picture it takes them to amazon-->
        <a href="https://a.co/d/9zgaXME"> <img id="picture" src="\Images\TrophyGirlfriendfullHomepage.PNG" height="200" width="300" alt="" name="Romance Trueness"> </a>
        <a href ="https://a.co/d/91KrlQx"> <img id="picture" src="\Images\BoyfriendFullHomepage.png" height="200" width="300" alt="" name="Romance Trueness"></a>

        <!-- DELETE this link Later <p>Buy Now <a href="https://a.co/d/91KrlQx"><b>Romance Trueness</b> Ultimate guide becoming her Boyfriend</a></p> -->
    </main>  
    
</div>